.low-score {
    color: red;
    font-size: 2.25rem;
    line-height: .83em;
    font-weight: 700;
}

.medium-score {
    color: rgb(248, 158, 48);
    font-size: 2.25rem;
    line-height: .83em;
    font-weight: 700;
}

.high-score {
    color: green;
    font-size: 2.25rem;
    line-height: .83em;
    font-weight: 700;
}